.header {
  position: relative;
  height: 70px;
  background-color: $color-yellow;
  z-index: 5;
}

.section {
  padding-top: 46px;
  padding-left: 122px;
  padding-right: 122px;
  padding-bottom: 27px;

  @media (max-width: $bp-medium) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (max-width: $bp-small) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.section-last-minute-tours {

  @media (max-width: $bp-small) {
    padding-top: 38px;
  }

  &__handler-sort {
    margin-top: 32px;
  }

  &__slider {
    padding-top: 17px;

    @media (max-width: $bp-small) {
      display: none;
    }
  }

  .slick-next, .slick-prev {
    top: calc(50% - 30px);
  }
}

.section-popular-tours {

  @media (max-width: $bp-small) {
    padding-top: 16px;
  }

  &__slider {
    margin-top: 46px;

    @media (max-width: $bp-small) {
      margin-top: 31px;
      border-bottom: 2px solid #C4C4C4;
      padding-bottom: 16px;
    }
  }
  
  .slick-next, .slick-prev {
    top: calc(50% - 24px);
  }
}

.section-form {
  padding-top: 87px;
  padding-bottom: 40px;

  @media (max-width: $bp-small) {
    padding-top: 11px;
  }

    &__title {
      font-size: 36px;
      font-weight: 900;
      text-align: center;
      text-transform: none;

      @media (max-width: $bp-small) {
        text-align: left;
      }
    }

    &__form {
      margin-top: 28px;

      @media (max-width: $bp-small) {
        text-align: left;
        margin-top: 0;
      }
    }
}

.footer {
  background: #272727;
  margin-left: 7.91015625%;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: white;
  border-top: 2px solid white;
  border-left: 2px solid white;

  @media (max-width: $bp-small) {
    margin-left: 0;
    border-left: none;
  }

  &__top,
  &__bottom {
    position: relative;
    padding-left: 120px;
    overflow: hidden;
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-image: linear-gradient(white, white);

    @media (max-width: $bp-small) {
      padding-left: 62px;
    }
  }

  &__top {
    background-position: 53px bottom;
  }

  &__bottom {
    background-position: 53px top;
  }

  &__top::before,
  &__bottom::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -1px;
    width: 100px;
    height: 5px;
    background-image: linear-gradient(to left, white, white);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 10px;
    transform-origin: left bottom;
    transform: rotate(52deg);
  }

  &__bottom::before {
    transform-origin: left top;
    transform: rotate(-52deg);
    top: auto;
    bottom: -4px;
  }

  &__middle {
    height: 60px;
  }

  &__link {
    margin: 20px 0;
    position: relative;
    z-index: 1;
  }
}