.section-about-me__cont {
  position: relative;
  padding-bottom: 25px;
  padding-top: 100px;
  background-color: #404040;
}

.section-about-me__title {
  width: 100%;
}

.section-about-me__group {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-about-me__avatar {
  max-width: 560px;
  float: left;
  margin: 1.5% 8% 5% -1.5%;
}

.section-about-me__article {
  -ms-flex-item-align: center;
  align-self: center;
  padding-right: 5.5%;
}

.section-about-me__article-body p,
.section-about-me__article-text {
  color: #fff;
  text-indent: 50px;
}

.section-about-me__subtitle {
  margin-top: 157px;
  margin-right: 100%;
}

.section-slider__cont {
  position: relative;
  padding-bottom: 25px;
  padding-top: 100px;
  background-color: #404040;
}

.section-slider__slider {
  width: 100%;
  margin-top: 77px;
}

.section-how-work__cont {
  position: relative;
  padding-top: 100px;
  background-color: #404040;
  padding-bottom: 57px;
}

.section-how-work__graf {
  margin-top: 50px;
}

.section-advice__cont {
  position: relative;
  padding-bottom: 25px;
  padding-top: 100px;
  background-color: #404040;
}

.section-advice__title {
  margin-top: 10px;
}

.section-advice__form {
  margin-top: 20px;
  margin-bottom: 27px;
}

@media (max-width: 1559px) {
  .section-about-me__cont {
    padding-top: 85px;
  }

  .section-about-me__cont {
    padding-top: 70px;
  }

  .section-slider__cont {
    padding-top: 85px;
  }

  .section-slider__cont {
    padding-top: 70px;
  }

  .section-how-work__cont {
    padding-top: 85px;
  }

  .section-how-work__cont {
    padding-top: 70px;
  }

  .section-advice__cont {
    padding-top: 85px;
  }

  .section-advice__cont {
    padding-top: 70px;
  }
}

@media (max-width: 1023px) {
  .section-about-me__cont {
    padding-top: 50px;
  }

  .section-about-me__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .section-about-me__article {
    padding-right: 0;
    width: 100%;
    max-width: 700px;
    margin-top: 70px;
  }

  .section-slider__cont {
    padding-top: 50px;
  }

  .section-how-work__cont {
    padding-top: 50px;
  }

  .section-advice__cont {
    padding-top: 50px;
  }
}

@media (max-width: 550px) {
  .section-about-me__avatar {
    float: none;
    margin-right: 0;
    margin-left: 0;
  }

  .section-about-me__article {
    text-align: center;
  }
}

