@import "../../style/variables.scss";

.section-how-work {

  &__cont {
    background-color: #404040;
  }
}

.section-advice {

  &__cont {
    background-color: #404040;
  }

  &__form {
    margin-top: 20px;
  }
}